* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .1s linear;

}

html {
  font-size: 80%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 20rem;
}



body {
  background-image: url('https://images.squarespace-cdn.com/content/v1/569969a41c121004ba2554a2/1616207101143-CSL4SK2OYXHTF7K79LV7/3T9A0183.jpg?format=2500w');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  vertical-align: top;
}

.navbar {

  background: #0a0a0aec;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  padding: 2rem 30%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navBarLink {
  cursor: pointer;
}

.navBarLink:hover {
  color: rgb(255, 174, 0);
}


.home-title {
  vertical-align: top;
}

.home-page {
  color: rgb(255, 174, 0);
  text-align: center;
  padding-top: 200px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;

}

span {
  color: rgba(255, 166, 0, 0.63);
}

.home-description {
  background-color: rgba(204, 204, 204, 0.486);
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  font-style: normal;

}

#logo {
  color: rgb(255, 174, 0);
  font-size: 2.5rem;
  font-weight: bolder;
}

.form {
  text-align: center;
  padding-top: 200px;
}

.button {
  font-size: large;
  width: 40%;
  background-color: hwb(242 10% 68% / 0.747);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button {
  transition-duration: 0.2s;
}

.button:hover {
  background-color: rgba(165, 42, 42, 0.733);
  color: white;
}

input {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  color: black;
  font-size: large;

  margin-right: auto;

}

.table {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

section {
  background-color: rgba(245, 245, 245, 0.644);
}

.aboutUs {
  background-color: white;
  vertical-align: auto;
  color: orangered;
  text-align: center;
}

ul {
  position: absolute;
  text-align: center;
  bottom: 0px;
  width: 100%;

}